<%= render 'users/error_message', user: @user %>

<div class="user__main-edit">

	<%= form_for @user do |user| %>

	<h3 class="user__main-edit--image">
		<%= user.label :image %>
		<%= user.attachment_field :image %>
	</h3>

	<h3 class="user__main-edit--name">
	<%= user.label :名前 %>
	<%= user.text_field :name %>
	</h3>

	<h3 class="user__main-edit--int">
	<%= user.label :自己紹介欄 %>
	<%= user.text_area :introduction %>
	</h3>

	<h3 class="user__main-edit--btn">
	<%= user.submit '更新' %>
	<% end %>
	</h3>
</div>