<%= javascript_include_tag 'jquery.raty' %>
<div class="post__main">
	<%= form_for @post do |f| %>

	<%= f.label :image %>
	<%= f.attachment_field :image %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<div id="star">
    <%= f.label :rate,'評価 ' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
  });
  </script>

	<%= f.label :content %>
	<%= f.text_area :content %>

	<%= f.label :category %>
	<%= f.collection_select :category_id,@category,:id,:name %>
	<%= f.submit '投稿' %>
<% end %>
</div>
