<%= javascript_include_tag 'jquery.raty' %>
<%= link_to 'カテゴリー',categories_path %>
<% if user_signed_in? %>
<%= link_to '新規投稿',new_post_path %>
<% end %>
<% @posts.each do |post| %>
	<div>
		<%= attachment_image_tag(post, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
	</div>
	<div>
		title
	</div>
	<%= link_to post.title,post_path(post) %>
	<div>
		評価
	</div>
	<div id="star-rate-<%= post.id %>"></div>
<script>
	$('#star-rate-<%= post.id %>').raty({
		size: 36,
		starOff:  '<%= asset_path('star-off.png') %>',
		starOn : '<%= asset_path('star-on.png') %>',
		starHalf: '<%= asset_path('star-half.png') %>',
		half: true,
		readOnly: true,
		score: <%= post.rate %>,
	});
</script>
<div>
	内容
</div>
	<%= post.content %>
<% end %>

<div>
	<div>
		カテゴリー
	</div>
	<% @categories.each do |category| %>
	<%= link_to category.name, posts_path(category_id: category.id), category_id: category.id %>
	<% end %>
</div>