<div>
	category 一覧
</div>
<div>
<% @categories.each do |f| %>
	<%= f.name %>
	<% end %>
</div>

<div>
	<%= form_for @category do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.submit '追加' %>
	<% end %>
</div>